{% assign value = section.settings %}
<style>
  .cbc--{{ section.id }}{
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
    {% if collection.image %}
      background-image: url("{{ collection.image | img_url: "master" }}");
    {% elsif section.settings.image %}
      background-image: url("{{ section.settings.image | img_url: "master" }}");
    {% endif %}
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 220px;
  }
  .cbc__title{
    height: 100%;
    display: flex;
    align-items: center;
  }
  .cbc__title h2{
    color: var(--white, #FFF);
    font-size: 48px;
    line-height: 56px; /* 116.667% */
    margin: 0;
  }



  @media screen and (max-width: 768px){
    .cbc--{{ section.id }}{
      margin-top: {{ section.settings.margin_top-m }}px;
      margin-bottom: {{ section.settings.margin_bottom-m }}px;
      height: 110px;
    }
    .cbc__title h2{
      font-size: 24px;
      line-height: 30px; /* 116.667% */
    }
  }
</style>
<section class="cbc--{{ section.id }}">
  <div class="cbc__title page-width">
    <h2>{{ value.title }}</h2>
  </div>
</section>
{% schema %}
{
  "name": "Page Header",
  "settings": [
    {
       "type": "image_picker",
       "id": "image",
       "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Margin Top",
      "default": 16
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 16
    },
    {
      "type": "range",
      "id": "margin_top-m",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Margin Top (Mobile)",
      "default": 16
    },
    {
      "type": "range",
      "id": "margin_bottom-m",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Margin Bottom (Mobile)",
      "default": 16
    }
  ],
  "presets": [
    {
      "name": "Page Header"
    }
  ]
}
{% endschema %}
